my_examples
.idea
.venv
.DS_Store
select_ai.egg-info
dist
.ruff_cache
src/select_ai.egg-info
doc/.DS_Store
doc/build
doc/drawio
**/__pycache__
test.env
test_19c.env
pytest.env
.venv3.10/
.venv3.11/
.venv3.9/
sample_connect.py
